<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>incomingVideoType</key>
	<integer>-1</integer>
	<key>putOriginalsInTrash</key>
	<true/>
	<key>selectedPreferenceItem</key>
	<integer>0</integer>
	<key>profiles</key>
	<dict>
		<key>tvShow</key>
		<dict>
			<key>chapters</key>
			<false/>
			<key>tvEpisode</key>
			<true/>
			<key>tvSeason</key>
			<true/>
			<key>tvShow</key>
			<true/>
			<key>videoType</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
