<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlertWindowPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Amazon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AtomicParsley.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GrowlPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>IMDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MetaZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MetaZKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MetaZKitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>OSXNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Plist Marcos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TagChimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TheMovieDb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TheTVDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B032F6610B0C12100B28E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B03304210B0CD3C00B28E3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B040EBD1081B3C00027FA0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B2022F810B393CA00EE548A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B3185911841E838001EDE79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B3185A01841E9D6001EDE79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B42F25710DEB0D300AFEBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B4F53B3116E9F44003221B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B8CB90A14ACD62000F859F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BA325C310545ACA00276F57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD55F8D1648BB4200F9C579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD562061648F17C00F9C579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BEA6E71106EF2A0004B1A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
